html, body, div, span, ul, li, img {
    padding: 0px;
    margin: 0px;
}

/* .position {
    display: block;
    margin: 0px auto;
    position: relative;
    width: 80%;
}

.large {
    width: 75%;
    height: 75%;
}

.medium {
    width: 50%;
    height: 50%;
}

.small {
    width: 25%;
    height: 25%;   
} */

body {
    overflow: hidden;
}

.opacity {
    position: absolute;
    z-index: -1; 
    /* overflow: auto; */
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-image: url("./puppy.jpg");
    background-attachment: fixed;
}

.background {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.content {
    background: teal;
    display: block;
    margin: 50px auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
}

.header-pic {
    border-radius: 50px;
    display: block;
    margin: 0px auto;
}


.content p {
    color: aliceblue;
    padding: 20px 40px 0px 40px ;
    font-size: 18px;
}

/* .content p:last-child {
} */