body, html, div, span, ol, ul, li, a {
    margin: 0px;
}

a {
    text-decoration: none;
    color: saddlebrown;
}

.top-menu{
    height: 50px;
    background-color: rgba(139, 21, 21, 0.1);
}

div.logo{
    display: inline;
    background-image: url(./puppy.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-right {
    float: right;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 0px 15px;
}
